body {
	font-family: 'IM Fell French Canon SC', garamond;
	background: linear-gradient(45deg, #fff 12%, transparent 0, transparent 88%, #fff 0),
    linear-gradient(135deg, transparent 37%, #c2c1ff 0, #c2c1ff 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #fff 0, #fff 63%, transparent 0) #ff9b97;
    background-size: 25px 25px;;
}

header {
	font-size: 50px;
	color: #007e8e;
	text-align: center;
	margin: 3% auto;
	background-color: #f7d280;
	display: inline-block;
}

.inLine {
	height: 50px;
	width: 300px;
	border: 1px solid black;
	margin: 0.5em auto;
	flex-basis: 1.5em;
	padding: 4px;
	font-weight: bold;
}

.inHand {
	height: 200px;
	width: 250px;
	border: 1px solid black;
	margin: 0.2em auto;
	flex-basis: 18%;
	text-align: center;
	background-color: #f9bebe;
}

.opener {
	display: none;
}

.clicked {
	border: 3px solid yellow;
}

.nobleLine {
	height: 1100px;
	width: 1100px;
	clear: both;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	background: url(../images/place-de-la-concorde-1791.jpg);
	background-size: cover;
}

@media (max-width: 800px) {
	.nobleLine {
		height: 550px;
		width: 550px;
	}
}

.actionHand {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 300px;
}

.green {
	background-color: #1eda1e;
}

.blue {
	background-color: #7676ff;
}

.red {
	background-color: #ff6565;
}

.gray {
	background-color: #bdbdbd;
}

.purple {
	background-color: #c716c7;
}

.scorekeeping {
	display: block;
	clear: both;
}

.heading {
	display: block;
	height: 50px;
	width: 100%;
}

#player1score {
	border: 4px dashed gold;
	width: 175px;
	font-size: 20px;
	text-align: center;
	margin: 10px;
	float: left;
	background-color: white;
}

#player2score {
	border: 1px solid gray;
	width: 175px;
	font-size: 20px;
	text-align: center;
	margin: 10px;
	float: right;
	background-color: white;
}

#nameGame {
	font-size: 45px;
	color: #007e8e;
	text-align: center;
	margin: 3% auto;
	background-color: #f7d280;
	float: left;
}

#daydisplay {
	text-align: center;
	font-weight: bold;
	font-size: 45px;
	float: right;
    display: inline-block;
    background-color: #f7d280;
    margin: 25px;
    border-radius: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: blue;
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    border: 2px double #a5291a;
    width: 80%;
    font-size: 20px;
}

.close {
    color: black;
    float: right;
    font-size: 36px;
    font-weight: bold;
    width: 36px;
    height: 24px;
}

.close:hover,
.close:focus {
    color: maroon;
    text-decoration: none;
    cursor: pointer;
}

.bottomscreen {
	clear: both;
}

.confirmationbutton {
	height: 30px;
	margin: 10px auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.pointValue {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}